
body {
    font-family: 'Cabinet Grotesk', sans-serif;
}

.custom-card {
    width: 1230px;
    background-color: #ebbb57;
}


.custom-text {
    font-size: 20px;
    color: #A14C16;
}


.custom-image {
    width: 461px;
    height: 157px;
    object-fit: cover;
}


.social-icon {
    width: 61.2px;
    height: 61.2px;
}


.form-label {
    font-size: 20px;
    color: #A14C16;
}
